body {
  background: #11223B;
  color: #FF9061;
  height: 100vh;

  h1{
    color: #EB7A5E ;
    font-size: 2rem;
    margin-top: 1rem;
  
  }
  
  cursor:grab;

  #popup-content{
    p{
      font-size: 20px;
    }
  }
  aside {
    display: flex;
    float: right;
    margin-top: auto;
    margin-bottom: auto;

    #arrowNav {
      width: 30px;
      height: 30px;
      margin-top: auto;
      margin-bottom: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: #EB7A5E 3px solid;
      border-bottom: #EB7A5E 3px solid;
      border-top: #EB7A5E 3px solid;
      border-top-left-radius: 30%;
      border-bottom-left-radius: 30%;
    }

    nav {
      border-left: #EB7A5E 3px solid;
      border-bottom: #EB7A5E 3px solid;
      border-top: #EB7A5E 3px solid;

      img {
        margin: 0;
        width: 30px;
        height: 30px;
        display: flex;
        padding: 10px 7px;
      }
    }

  }

  #echoMapPage {
    display: flex;

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }

    #map {
      width: 700px;
      height: 380px;
    }
  }

  .hidden{
    display: none !important;
  }

  .hide {
    display: none;
  }

  #fullscreenLogo {
    display: none;
    background-image: url("../images/fullscreen.png");
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 80px;
  }

  #fullscreenLogo:hover {
    cursor: pointer;
  }

  #chatroom{
    height: 100vh;
    width: 100vw;
    #messages{
      display:block;
      height:90vh;
      overflow: hidden;
      overflow-y: scroll;
      p{
        font-size: 4rem;
        padding: 1rem;
      }
    }
    #communication-panel {
      height: 10vh;      
      display: grid;
      grid-template-columns: max-content auto max-content;
      column-gap: 10px;
      button{
        font-size: 4rem;
        width: 20vw;
      }
      input{
        display: block;
        font-size: 4rem;
        width: 80vw;
      }
  }
  }


  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }





  /* checkbox effect */

  .input_wrapper{
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
  }

  .input_wrapper input[type="checkbox"]{
    width: 80px;
    height: 40px;
    cursor: pointer;
    appearance: none;
    background: black; //#315e7f
    border-radius: 2px;
    position: relative;
    outline: 0;
    transition: all .2s;
  }

  .input_wrapper input[type="checkbox"]:after{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background: #dfeaec; //background: #dfeaec;
    z-index: 2;
    border-radius: 2px;
    transition: all .35s;
  }

  .input_wrapper svg{
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    transition: all .35s;
    z-index: 1;
  }

  .input_wrapper .is_checked{
    width: 18px;
    left: 18%;
    transform: translateX(190%) translateY(-30%) scale(0);
  }

  .input_wrapper .is_unchecked{
    width: 15px;
    right: 10%;
    transform: translateX(0) translateY(-30%) scale(1);
  }

  /* Checked State */
  .input_wrapper input[type="checkbox"]:checked{
    background: #FF9061; //background: #23da87;
  }

  .input_wrapper input[type="checkbox"]:checked:after{
    left: calc(100% - 37px);
  }

  .input_wrapper input[type="checkbox"]:checked + .is_checked{
    transform: translateX(0) translateY(-30%) scale(1);
  }

  .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
    transform: translateX(-190%) translateY(-30%) scale(0);
  }









  .proximityChat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .buttonProx {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #FF9061;
    background: linear-gradient( 90deg, #FF9061 0%, #EB7A5E);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #ff9061;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
  }

  .buttonProx::before {
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  .buttonProx:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .buttonProx:hover::before, button:focus::before {
    opacity: 1;
  }

  .buttonProx::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #EB7A5E;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .buttonProx:hover::after, button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

}
