body {
  font-size: 5rem;

  img {
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 10px 7px;
  }

  #contacts {
    background: url("../images/ContactIcon.png") no-repeat;
    background-size: contain;
    padding-left: 10%
  }

  #searchContainer{
    text-align: center;
    
  input {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-bottom: black solid;
    height: 35px;
    border-radius: 30px;
    padding: 5px;
    font-size: 3rem;
    letter-spacing: 1px;
    color: #FFFFFF;
  }}

  #contactList {
    background: gray;
    margin: auto;
    width: 85%;
    border-radius: 30px;
    ul li {
      background: #cc8612;
      margin: auto;
      width: 50%;
    }

    ul li:hover{
      transform: scale(1.30);
      background-color: navajowhite;
    }
    a{
      text-decoration: none;
      color: blue;
    }

  }
}