@charset "UTF-8";
@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf") format("opentype");
}
body {
  background: #11223B;
  color: #FF9061;
  font-family: nasalization, sans-serif;
  /* Styling for the popup */
  /* checkbox effect */
  /* Animation for the button: Go to proximity chat. */
}
body .formGroup {
  margin-left: 20%;
}
body h1 {
  color: #EB7A5E;
  font-size: 2rem;
  margin-top: 1rem;
}
body h2 {
  font-size: 1.5rem;
  margin: 1rem;
}
body .buttonOverlay {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #FF9061;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
  border: none;
  box-shadow: 12px 12px 24px #ff9061;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
body aside {
  display: flex;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}
body aside #arrowNav {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: #EB7A5E 3px solid;
  border-bottom: #EB7A5E 3px solid;
  border-top: #EB7A5E 3px solid;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
body aside nav {
  border-left: #EB7A5E 3px solid;
  border-bottom: #EB7A5E 3px solid;
  border-top: #EB7A5E 3px solid;
}
body aside nav img {
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 10px 7px;
}
body .hidden {
  display: none !important;
}
body .hide {
  display: none;
}
body #fullscreenLogo {
  display: none;
  background-image: url("../images/fullscreen.png");
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
}
body #fullscreenLogo:hover {
  cursor: pointer;
}
body #chatroom {
  height: 100vh;
  width: 100vw;
  margin: none;
}
body #chatroom #messages {
  display: block;
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
}
body #chatroom #messages p {
  font-size: 4rem;
  padding: 1rem;
}
body #chatroom #username {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 100vw;
  padding-left: 2%;
  border-bottom: 5px black solid;
}
body #chatroom #username * {
  margin: 1% 2%;
  font-size: 3vh;
  display: inline;
}
body #chatroom #username a {
  text-decoration: underline;
  color: #FF9061;
}
body #chatroom #communication-panel {
  height: 10vh;
  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: 10px;
}
body #chatroom #communication-panel button {
  font-size: 4rem;
  width: 20vw;
  background-color: #FF9061;
  border: none;
  color: #212121;
}
body #chatroom #communication-panel input {
  display: block;
  font-size: 4rem;
  width: 80vw;
  background-color: #FF9061;
  border: none;
  color: #212121;
}
body #chatroom #communication-panel input:focus {
  outline: none;
}
body #echoMapPage {
  display: flex;
}
body #echoMapPage form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 5%;
}
body #echoMapPage #map {
  width: 700px;
  height: 380px;
}
body .ol-popup {
  position: absolute;
  background-color: #11223B;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
body .ol-popup #popup-content {
  text-align: center;
}
body .ol-popup #popup-content p {
  font-size: 20px;
}
body .ol-popup #popup-content p span {
  font-size: 0.8rem;
}
body .ol-popup #popup-content button {
  border: 0;
  padding: 10px;
  width: 49%;
  border-radius: 10px;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
}
body .ol-popup:after, body .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
body .ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
body .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
body .ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
body .ol-popup-closer:after {
  content: "✖";
}
body input[type=checkbox] {
  display: none;
}
body input[type=checkbox] + label {
  position: relative;
  display: flex;
  margin: 0.6em 0;
  align-items: center;
  color: #9E9E9E;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
body input[type=checkbox] + label > span {
  display: flex;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
body input[type=checkbox] + label:hover, body input[type=checkbox]:focus + label {
  color: #FF9061;
  cursor: pointer;
}
body input[type=checkbox] + label:hover > span, body input[type=checkbox]:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}
body input[type=checkbox]:checked + label > span {
  border: 0.5em solid #FF9061;
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  background: #FF9061;
}
body input[type=checkbox]:checked + label > span:before {
  content: "";
  position: absolute;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}
@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
body .proximityChat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
body .buttonProx {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #FF9061;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ff9061;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
body .buttonProx::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
body .buttonProx:hover, body .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
body .buttonProx:hover::before, body button:focus::before {
  opacity: 1;
}
body .buttonProx::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #EB7A5E;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
body .buttonProx:hover::after, body button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
