@charset "UTF-8";
body {
  background: #11223B;
  color: #FF9061;
  height: 100vh;
  cursor: grab;
  /* checkbox effect */
  /* Checked State */
}
body h1 {
  color: #EB7A5E;
  font-size: 2rem;
  margin-top: 1rem;
}
body #popup-content p {
  font-size: 20px;
}
body aside {
  display: flex;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}
body aside #arrowNav {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: #EB7A5E 3px solid;
  border-bottom: #EB7A5E 3px solid;
  border-top: #EB7A5E 3px solid;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
body aside nav {
  border-left: #EB7A5E 3px solid;
  border-bottom: #EB7A5E 3px solid;
  border-top: #EB7A5E 3px solid;
}
body aside nav img {
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 10px 7px;
}
body #echoMapPage {
  display: flex;
}
body #echoMapPage form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
body #echoMapPage #map {
  width: 700px;
  height: 380px;
}
body .hidden {
  display: none !important;
}
body .hide {
  display: none;
}
body #fullscreenLogo {
  display: none;
  background-image: url("../images/fullscreen.png");
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
}
body #fullscreenLogo:hover {
  cursor: pointer;
}
body #chatroom {
  height: 100vh;
  width: 100vw;
}
body #chatroom #messages {
  display: block;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}
body #chatroom #messages p {
  font-size: 4rem;
  padding: 1rem;
}
body #chatroom #communication-panel {
  height: 10vh;
  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: 10px;
}
body #chatroom #communication-panel button {
  font-size: 4rem;
  width: 20vw;
}
body #chatroom #communication-panel input {
  display: block;
  font-size: 4rem;
  width: 80vw;
}
body .ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
body .ol-popup:after, body .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
body .ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
body .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
body .ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
body .ol-popup-closer:after {
  content: "✖";
}
body .input_wrapper {
  width: 80px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
body .input_wrapper input[type=checkbox] {
  width: 80px;
  height: 40px;
  cursor: pointer;
  appearance: none;
  background: black;
  border-radius: 2px;
  position: relative;
  outline: 0;
  transition: all 0.2s;
}
body .input_wrapper input[type=checkbox]:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #dfeaec;
  z-index: 2;
  border-radius: 2px;
  transition: all 0.35s;
}
body .input_wrapper svg {
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  fill: #fff;
  transition: all 0.35s;
  z-index: 1;
}
body .input_wrapper .is_checked {
  width: 18px;
  left: 18%;
  transform: translateX(190%) translateY(-30%) scale(0);
}
body .input_wrapper .is_unchecked {
  width: 15px;
  right: 10%;
  transform: translateX(0) translateY(-30%) scale(1);
}
body .input_wrapper input[type=checkbox]:checked {
  background: #FF9061;
}
body .input_wrapper input[type=checkbox]:checked:after {
  left: calc(100% - 37px);
}
body .input_wrapper input[type=checkbox]:checked + .is_checked {
  transform: translateX(0) translateY(-30%) scale(1);
}
body .input_wrapper input[type=checkbox]:checked ~ .is_unchecked {
  transform: translateX(-190%) translateY(-30%) scale(0);
}
body .proximityChat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
body .buttonProx {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #FF9061;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ff9061;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
body .buttonProx::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
body .buttonProx:hover, body .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
body .buttonProx:hover::before, body button:focus::before {
  opacity: 1;
}
body .buttonProx::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #EB7A5E;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
body .buttonProx:hover::after, body button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
