body{
  background: whitesmoke;

  aside{
    display: flex;
    float: right;
    margin-top: auto;
    margin-bottom: auto;

    #arrowNav{
      width: 30px;
      height: 30px;
      margin-top: auto;
      margin-bottom: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: black 3px solid;
      border-bottom: black 3px solid;
      border-top: black 3px solid;
      border-top-left-radius: 30%;
      border-bottom-left-radius: 30%;
    }

    nav{
      border-left: black 3px solid;
      border-bottom: black 3px solid;
      border-top: black 3px solid;

      img{
        margin: 0;
        width: 30px;
        height: 30px;
        display: flex;
        padding:10px 7px;
      }
    }

  }

  section{
    margin:50px 15px;
  }

  #echoMapPage{
    display: flex;
    form{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }

    #map{
      width: 700px;
      height: 380px;
    }
  }

  .hidden{
    display: none !important;
  }
}
