body {
  font-size: 5rem;
  font-family: 'Spartan', sans-serif;
  color: #9b7241;

  img {
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 10px 7px;
  }

  #contacts {
    background: url("../images/ContactIcon.png") no-repeat;
    background-size: contain;
    padding-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  #searchContainer {
    text-align: center;

    input {
      background-size: contain;
      background: url("../images/magnifyingGlassIcon.png") no-repeat right;
      background-size: contain;
      border: none;
      border-bottom: black solid;
      border-radius: 10px;
      padding: 5px;
      font-size: 4rem;
      letter-spacing: 1px;
      color: #9b7241;
    }
  }

  #contactList {
    background: #d0a3023b;
    //margin: auto;
    //width: 85%;
    border-radius: 30px;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 10%;

    ul li {
      background: #cc95128a;
      text-align: center;

      padding: 20px;
      width: 650px;
    }

    ul li:hover {
      transform: scale(1.30);
      background-color: navajowhite;
    }

    a {
      text-decoration: none;
      color: #845a35;
    }

    .contactoption-hidden{
      display: none;
    }

    .contactoption{
      display: block;
      font-size: 2vh
    }

  }
}